[user]
	name = Peter Vilim
	email = peterlvilim@users.noreply.github.com
[color]
	ui = true
[push]
	default = simple
[merge]
	tool = vimdiff3
[core]
	excludesfile = /home/pvilim/.gitignore_global
[alias]
	root = !pwd
[difftool]
    difftool = vimdiff -O
    prompt = no
