.i3/cal.status
.i3/sab.status
.i3/sabnzbd.pyc
.i3/stopifalreadyrunning.pyc
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.netrwhist
torbrowser
.config/googlechrome
google-chrome
spotify
.config/*
.config/dwb/default/history
.config/dwb/default/session
bin/.config
.irssi/config.autosave
